<h1>Hola!</h1>


<%=link_to "Searche Places", places_path, class:'btn btn-primary'%>
<% if Place.present? %>
    
<%=link_to "Searche Flights", flights_path, class:'btn btn-primary'%>
<% end %>


<%=console%>